<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      BackgroundFetch Demo
    </ion-title>
    <ion-buttons slot="end">
      <ion-toggle [(ngModel)]="state.enabled" (ionChange)="onToggleEnabled()" style="display:block;"></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-message *ngFor="let event of getEvents()" [event]="event"></app-message>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="default">
    <ion-buttons slot="start">
      <ion-button color="danger" fill="solid" (click)="onClickClear()">clear</ion-button>
    </ion-buttons>

    <ion-title>
      Status:&nbsp;<span ion-text>{{this.state.status}}</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" (click)="onClickScheduleTask()">schedule Task</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>